{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<p>
    The Epic of Gilgamesh is an epic poem from ancient Mesopotamia, regarded as the earliest surviving notable literature and the second
    oldest religious text, after the Pyramid Texts. The literary history of Gilgamesh begins with five Sumerian poems
    about Bilgamesh (Sumerian for "Gilgamesh"), king of Uruk, dating from the Third Dynasty of Ur (c. 2100 BCE).
</p>

{% for hero in heros %}

    <div class="row featureette">

        {% if loop.index % 2 != 0 %}

            <div class="col-md-7">
                <h3><a href="/about/{{ hero.url }}">{{ loop.index }}. {{ hero.name }}</a></h3>
                <p>
                    {{ hero.desc }}
                </p>
            </div>
            <div class="col-md-5">
                <img src="{{ hero.img_src }}" alt="" class="featurette-image image-responsive">
            </div>

        {% else %}

            <div class="col-md-5">
                <img src="{{ hero.img_src }}" alt="" class="featurette-image image-responsive">
            </div>
            <div class="col-md-7">
                <h3><a href="/about/{{ hero.url }}">{{ loop.index }}. {{ hero.name }}</a></h3>
                <p>
                    {{ hero.desc }}
                </p>
            </div>

        {% endif %}

    </div>

    {% if loop.index != loop.length %}

        <hr class="featurette-divider">

    {% endif%}

{% endfor %}
{% endblock %}