{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h2>{{ page_title }}</h2>
    <br>
    <h3>Join our team to find your immortality!</h3>
    <br>
    <h5>We need volunteers in the following areas:</h5>
    <ul>
        <li>Animator/Artist: creates video game 2D art,  produce concept art, sprites, textures, environmental backdrops or terrain images, and user interface and 2D cinematics.</li>
        <li>Sound Designer/Composer: will be creating the sound effects and music for the game.</li>
        <li>Voice over actors: will be ‘acting’ out the lines for one or more characters in the game.</li>
    </ul>

    </div>
</div>
{% endblock %}