{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        <h2 class="post-title">
            What is The Epic of Gilgamesh is all about?
        </h2>

        <p class="post-meta">
            Death is an inevitable and inescapable fact of human life, which is the greatest lesson Gilgamesh (in sumerian languege: 𒀭𒄑𒉋𒂵𒈨𒌋𒌋𒌋) learns. Gilgamesh is bitter that only the gods can live forever and says as much when Enkidu warns him away when fighting with Humbaba that "Life is short"
        </p>

        <h2 class="post-title">
            What we are trying to do with this project?
        </h2>

        <p class="post-meta">
            This website is a project dedecated to educate people about this great Epic story, the main idea is to create a simple online game. This game would allow players to be Gilgamesh and take on his journey, unraveling the answers to the great life long question asked by this Epic throgh the jurny and reliving the experience.
        </p>

        <button class="btn btn-secondary btn-lg btn-block disabled">Play Gilgamesh! (coming soon)</button>
    </div>
    {% endblock %}